*,
::before,
::after {
  --tw-border-opacity: 1;
  border-color: rgba(229, 231, 235, var(--tw-border-opacity));
}
.\!tw-shadow-lg {
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
}
.\!tw-container {
  width: 100% !important;
}
@media (min-width: 640px) {
  .\!tw-container {
    max-width: 640px !important;
  }
}
@media (min-width: 768px) {
  .\!tw-container {
    max-width: 768px !important;
  }
}
@media (min-width: 1024px) {
  .\!tw-container {
    max-width: 1024px !important;
  }
}
@media (min-width: 1280px) {
  .\!tw-container {
    max-width: 1280px !important;
  }
}
@media (min-width: 1536px) {
  .\!tw-container {
    max-width: 1536px !important;
  }
}
.\!tw-font-bold {
  font-weight: 700 !important;
}
.\!tw-shadow-lg {
  --tw-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05) !important;
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000),
    var(--tw-shadow) !important;
}
.hover\:\!tw-text-center:hover {
  text-align: center !important;
}
@media (min-width: 1024px) {
  .lg\:\!tw-opacity-50 {
    opacity: 0.5 !important;
  }
}
@media (min-width: 1280px) {
  .xl\:focus\:disabled\:\!tw-float-right:focus:disabled {
    float: right !important;
  }
}
