.divide-black > :not([hidden]) ~ :not([hidden]) {
  border-color: #000;
}
.border-black {
  border-color: #000;
}
.bg-black {
  background-color: #000;
}
.text-black {
  color: #000;
}
.placeholder-black::placeholder {
  color: #000;
}
