* {
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-transform: translateX(var(--tw-translate-x)) translateY(var(--tw-translate-y))
    rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y))
    scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}
*,
::before,
::after {
  --tw-border-opacity: 1;
  border-color: rgba(229, 231, 235, var(--tw-border-opacity));
}
* {
  --tw-shadow: 0 0 #0000;
  --tw-ring-inset: var(--tw-empty, /*!*/ /*!*/);
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgba(59, 130, 246, 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
}
.tw-container {
  width: 100%;
}
@media (min-width: 640px) {
  .tw-container {
    max-width: 640px;
  }
}
@media (min-width: 768px) {
  .tw-container {
    max-width: 768px;
  }
}
@media (min-width: 1024px) {
  .tw-container {
    max-width: 1024px;
  }
}
@media (min-width: 1280px) {
  .tw-container {
    max-width: 1280px;
  }
}
@media (min-width: 1536px) {
  .tw-container {
    max-width: 1536px;
  }
}
.tw-btn-prefix {
  button: yes;
}
.btn-no-prefix {
  button: yes;
}
.custom-component {
  font-weight: 700;
}
.tw-dark .tw-group:hover .custom-component {
  font-weight: 400;
}
.tw--ml-4 {
  margin-left: -1rem;
}
.tw-animate-ping {
  animation: ping 1s cubic-bezier(0, 0, 0.2, 1) infinite;
}
@keyframes tw-spin {
  to {
    transform: rotate(360deg);
  }
}
.tw-animate-spin {
  animation: tw-spin 1s linear infinite;
}
.tw-font-bold {
  font-weight: 700;
}
.tw-custom-util-prefix {
  button: no;
}
.custom-util-no-prefix {
  button: no;
}
.tw-group:hover .group-hover\:focus-within\:tw-text-left:focus-within {
  text-align: left;
}
[dir='rtl'] .rtl\:active\:tw-text-center:active {
  text-align: center;
}
@media (prefers-reduced-motion: no-preference) {
  .motion-safe\:hover\:tw-text-center:hover {
    text-align: center;
  }
}
.tw-dark .dark\:focus\:tw-text-left:focus {
  text-align: left;
}
@media (min-width: 768px) {
  .md\:tw--ml-5 {
    margin-left: -1.25rem;
  }
  .md\:hover\:tw--ml-6:hover {
    margin-left: -1.5rem;
  }
  .md\:hover\:tw-text-right:hover {
    text-align: right;
  }
}
