@color-black:           #000000;
@color-grey-900:        #212b35;
@color-grey-800:        #404e5c;
@color-grey-700:        #647382;
@color-grey-600:        #919eab;
@color-grey-500:        #c5ced6;
@color-grey-400:        #dfe3e8;
@color-grey-300:        #f0f2f5;
@color-grey-200:        #f7f9fa;
@color-white:           #ffffff;

@color-red-dark:        #d43633;
@color-red:             #f25451;
@color-red-light:       #fa8785;
@color-red-lightest:    #fff1f0;

@color-orange-dark:     #f29500;
@color-orange:          #ffb82b;
@color-orange-light:    #ffd685;
@color-orange-lightest: #fff8eb;

@color-yellow-dark:     #ffc400;
@color-yellow:          #ffe14a;
@color-yellow-light:    #ffea83;
@color-yellow-lightest: #fffbe5;

@color-green-dark:      #34ae4c;
@color-green:           #57d06f;
@color-green-light:     #b1f3be;
@color-green-lightest:  #eefff1;

@color-teal-dark:       #249e9a;
@color-teal:            #4dc0b5;
@color-teal-light:      #9eebe4;
@color-teal-lightest:   #eefffd;

@color-blue-dark:       #3687c8;
@color-blue:            #4aa2ea;
@color-blue-light:      #acdaff;
@color-blue-lightest:   #f1f9ff;

@color-indigo-dark:     #4957a5;
@color-indigo:          #6574cd;
@color-indigo-light:    #bcc5fb;
@color-indigo-lightest: #f4f5ff;

@color-purple-dark:     #714cb4;
@color-purple:          #976ae6;
@color-purple-light:    #ceb3ff;
@color-purple-lightest: #f7f3ff;

@color-pink-dark:       #d84f7d;
@color-pink:            #f66d9b;
@color-pink-light:      #ffa5c3;
@color-pink-lightest:   #fdf2f5;
