*,
::before,
::after,
::backdrop {
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x: ;
  --tw-pan-y: ;
  --tw-pinch-zoom: ;
  --tw-scroll-snap-strictness: proximity;
  --tw-ordinal: ;
  --tw-slashed-zero: ;
  --tw-numeric-figure: ;
  --tw-numeric-spacing: ;
  --tw-numeric-fraction: ;
  --tw-ring-inset: ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur: ;
  --tw-brightness: ;
  --tw-contrast: ;
  --tw-grayscale: ;
  --tw-hue-rotate: ;
  --tw-invert: ;
  --tw-saturate: ;
  --tw-sepia: ;
  --tw-drop-shadow: ;
  --tw-backdrop-blur: ;
  --tw-backdrop-brightness: ;
  --tw-backdrop-contrast: ;
  --tw-backdrop-grayscale: ;
  --tw-backdrop-hue-rotate: ;
  --tw-backdrop-invert: ;
  --tw-backdrop-opacity: ;
  --tw-backdrop-saturate: ;
  --tw-backdrop-sepia: ;
}
.\!tw-container {
  width: 100% !important;
}
@media (min-width: 640px) {
  .\!tw-container {
    max-width: 640px !important;
  }
}
@media (min-width: 768px) {
  .\!tw-container {
    max-width: 768px !important;
  }
}
@media (min-width: 1024px) {
  .\!tw-container {
    max-width: 1024px !important;
  }
}
@media (min-width: 1280px) {
  .\!tw-container {
    max-width: 1280px !important;
  }
}
@media (min-width: 1536px) {
  .\!tw-container {
    max-width: 1536px !important;
  }
}
.\!tw-font-bold {
  font-weight: 700 !important;
}
.hover\:\!tw-text-center:hover {
  text-align: center !important;
}
@media (min-width: 1024px) {
  .lg\:\!tw-opacity-50 {
    opacity: 0.5 !important;
  }
}
@media (min-width: 1280px) {
  .xl\:focus\:disabled\:\!tw-float-right:disabled:focus {
    float: right !important;
  }
}
