.theme-test {
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
    'Segoe UI Symbol', 'Noto Color Emoji';
  color: #3b82f6;
}
@media (min-width: 1024px) {
  .screen-test {
    color: purple;
  }
}
.apply-1 {
  margin-top: 1.5rem;
}
.apply-2 {
  margin-top: 1.5rem;
}
.apply-test {
  margin-top: 1.5rem;
  --tw-bg-opacity: 1;
  background-color: rgb(236 72 153 / var(--tw-bg-opacity));
}
.apply-test:hover {
  font-weight: 700;
}
.apply-test:hover:focus {
  font-weight: 700;
}
@media (min-width: 640px) {
  .apply-test {
    --tw-bg-opacity: 1;
    background-color: rgb(34 197 94 / var(--tw-bg-opacity));
  }
  .apply-test:nth-child(even):focus {
    --tw-bg-opacity: 1;
    background-color: rgb(251 207 232 / var(--tw-bg-opacity));
  }
}
.apply-components {
  width: 100%;
}
@media (min-width: 640px) {
  .apply-components {
    max-width: 640px;
  }
}
@media (min-width: 768px) {
  .apply-components {
    max-width: 768px;
  }
}
@media (min-width: 1024px) {
  .apply-components {
    max-width: 1024px;
  }
}
@media (min-width: 1280px) {
  .apply-components {
    max-width: 1280px;
  }
}
@media (min-width: 1536px) {
  .apply-components {
    max-width: 1536px;
  }
}
.apply-components {
  margin-left: auto;
  margin-right: auto;
}
.drop-empty-rules:hover {
  font-weight: 700;
}
.group:hover .apply-group {
  font-weight: 700;
}
.dark .apply-dark-mode {
  font-weight: 700;
}
.apply-with-existing:hover {
  font-weight: 400;
}
@media (min-width: 640px) {
  .apply-with-existing:hover {
    --tw-bg-opacity: 1;
    background-color: rgb(34 197 94 / var(--tw-bg-opacity));
  }
}
.multiple,
.selectors {
  font-weight: 700;
}
.group:hover .multiple,
.group:hover .selectors {
  font-weight: 400;
}
.list > :not([hidden]) ~ :not([hidden]) {
  --tw-space-x-reverse: 0;
  margin-right: calc(1rem * var(--tw-space-x-reverse));
  margin-left: calc(1rem * calc(1 - var(--tw-space-x-reverse)));
}
.nested {
  .example {
    font-weight: 700;
  }
  .example:hover {
    font-weight: 400;
  }
}
.apply-order-a {
  margin: 1.25rem;
  margin-top: 1.5rem;
}
.apply-order-b {
  margin: 1.25rem;
  margin-top: 1.5rem;
}
.dark .group:hover .apply-dark-group-example-a {
  --tw-bg-opacity: 1;
  background-color: rgb(34 197 94 / var(--tw-bg-opacity));
}
@media (min-width: 640px) {
  @media (prefers-reduced-motion: no-preference) {
    .group:active .crazy-example:focus {
      opacity: 0.1;
    }
  }
}
.scale-50,
.transform,
.hover\:scale-75 {
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-transform: translateX(var(--tw-translate-x)) translateY(var(--tw-translate-y))
    rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y))
    scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.shadow-sm,
.shadow-md,
.hover\:shadow-lg,
.md\:shadow-sm {
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
}

.focus\:ring-2 {
  --tw-ring-inset: var(--tw-empty, /*!*/ /*!*/);
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
}
h1 {
  font-size: 1.5rem;
  font-weight: 700;
}
h1:first-child {
  margin-top: 0px;
}
div {
  background: #654321;
}
.container {
  width: 100%;
}
@media (min-width: 640px) {
  .container {
    max-width: 640px;
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}
@media (min-width: 1024px) {
  .container {
    max-width: 1024px;
  }
}
@media (min-width: 1280px) {
  .container {
    max-width: 1280px;
  }
}
@media (min-width: 1536px) {
  .container {
    max-width: 1536px;
  }
}
.test-apply-font-variant {
  --tw-ordinal: ordinal;
  --tw-numeric-spacing: tabular-nums;
  font-variant-numeric: var(--tw-font-variant-numeric);
}
.custom-component {
  background: #123456;
}
*,
::before,
::after {
  padding: 5px;
}
.foo .bg-black {
  appearance: none;
}
.mt-6 {
  margin-top: 1.5rem;
}
.scale-50 {
  --tw-scale-x: 0.5;
  --tw-scale-y: 0.5;
  transform: var(--tw-transform);
}
.transform {
  transform: var(--tw-transform);
}
.grid-cols-\[200px\2c repeat\(auto-fill\2c minmax\(15\%\2c 100px\)\)\2c 300px\] {
  grid-template-columns: 200px repeat(auto-fill, minmax(15%, 100px)) 300px;
}
.bg-black {
  --tw-bg-opacity: 1;
  background-color: rgb(0 0 0 / var(--tw-bg-opacity));
}
.bg-green-500 {
  --tw-bg-opacity: 1;
  background-color: rgb(34 197 94 / var(--tw-bg-opacity));
}
.bg-opacity-50 {
  --tw-bg-opacity: 0.5;
}
.bg-gradient-to-r {
  background-image: linear-gradient(to right, var(--tw-gradient-stops));
}
.bg-hero--home-1 {
  background-image: url('/images/homepage-1.jpg');
}
.from-foo {
  --tw-gradient-from: #bada55;
  --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to, rgb(186 218 85 / 0));
}
.text-center {
  text-align: center;
}
.font-medium {
  font-weight: 500;
}
.test-apply-font-variant,
.sm\:tabular-nums {
  --tw-ordinal: var(--tw-empty, /*!*/ /*!*/);
  --tw-slashed-zero: var(--tw-empty, /*!*/ /*!*/);
  --tw-numeric-figure: var(--tw-empty, /*!*/ /*!*/);
  --tw-numeric-spacing: var(--tw-empty, /*!*/ /*!*/);
  --tw-numeric-fraction: var(--tw-empty, /*!*/ /*!*/);
  --tw-font-variant-numeric: var(--tw-ordinal) var(--tw-slashed-zero) var(--tw-numeric-figure)
    var(--tw-numeric-spacing) var(--tw-numeric-fraction);
}
.shadow-sm {
  --tw-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.05);
  --tw-shadow-colored: 0 1px 2px 0 var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000),
    var(--tw-shadow);
}
.shadow-md {
  --tw-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
  --tw-shadow-colored: 0 4px 6px -1px var(--tw-shadow-color), 0 2px 4px -2px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000),
    var(--tw-shadow);
}
.magic-none {
  magic: none;
}
.magic-tons {
  magic: tons;
}
.custom-util {
  background: #abcdef;
}
*,
::before,
::after {
  margin: 10px;
}
.first\:pt-0:first-child {
  padding-top: 0px;
}
.hover\:container:hover {
  width: 100%;
}
@media (min-width: 640px) {
  .hover\:container:hover {
    max-width: 640px;
  }
}
@media (min-width: 768px) {
  .hover\:container:hover {
    max-width: 768px;
  }
}
@media (min-width: 1024px) {
  .hover\:container:hover {
    max-width: 1024px;
  }
}
@media (min-width: 1280px) {
  .hover\:container:hover {
    max-width: 1280px;
  }
}
@media (min-width: 1536px) {
  .hover\:container:hover {
    max-width: 1536px;
  }
}
.hover\:scale-75:hover {
  --tw-scale-x: 0.75;
  --tw-scale-y: 0.75;
  transform: var(--tw-transform);
}
.hover\:font-bold:hover {
  font-weight: 700;
}
.hover\:shadow-lg:hover {
  --tw-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
  --tw-shadow-colored: 0 10px 15px -3px var(--tw-shadow-color),
    0 4px 6px -4px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000),
    var(--tw-shadow);
}
.hover\:custom-util:hover {
  background: #abcdef;
}
.focus\:font-normal:focus {
  font-weight: 400;
}
.focus\:ring-2:focus {
  --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0 var(--tw-ring-offset-width)
    var(--tw-ring-offset-color);
  --tw-ring-shadow: var(--tw-ring-inset) 0 0 0 calc(2px + var(--tw-ring-offset-width))
    var(--tw-ring-color);
  box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow, 0 0 #0000);
}
.focus\:ring-blue-500:focus {
  --tw-ring-opacity: 1;
  --tw-ring-color: rgb(59 130 246 / var(--tw-ring-opacity));
}
.focus\:hover\:font-light:hover:focus {
  font-weight: 300;
}
.disabled\:font-bold:disabled {
  font-weight: 700;
}
.group:hover .group-hover\:opacity-100 {
  opacity: 1;
}
.group:hover .group-hover\:custom-util {
  background: #abcdef;
}
.group:active .group-active\:opacity-10 {
  opacity: 0.1;
}
.foo\:custom-util {
  background: #abcdef !important;
}
.foo\:hover\:custom-util:hover {
  background: #abcdef !important;
}
@media (prefers-reduced-motion: no-preference) {
  .motion-safe\:transition {
    transition-property: background-color, border-color, color, fill, stroke, opacity, box-shadow,
      transform, filter, backdrop-filter;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms;
  }
  .motion-safe\:custom-util {
    background: #abcdef;
  }
}
@media (prefers-reduced-motion: reduce) {
  .motion-reduce\:transition {
    transition-property: background-color, border-color, color, fill, stroke, opacity, box-shadow,
      transform, filter, backdrop-filter;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms;
  }
}
.dark .dark\:custom-util {
  background: #abcdef;
}
@media (min-width: 640px) {
  .sm\:container {
    width: 100%;
  }
  @media (min-width: 640px) {
    .sm\:container {
      max-width: 640px;
    }
  }
  @media (min-width: 768px) {
    .sm\:container {
      max-width: 768px;
    }
  }
  @media (min-width: 1024px) {
    .sm\:container {
      max-width: 1024px;
    }
  }
  @media (min-width: 1280px) {
    .sm\:container {
      max-width: 1280px;
    }
  }
  @media (min-width: 1536px) {
    .sm\:container {
      max-width: 1536px;
    }
  }
  .sm\:text-center {
    text-align: center;
  }
  .sm\:tabular-nums {
    --tw-numeric-spacing: tabular-nums;
    font-variant-numeric: var(--tw-font-variant-numeric);
  }
  .sm\:custom-util {
    background: #abcdef;
  }
  @media (prefers-reduced-motion: no-preference) {
    .group:active .sm\:motion-safe\:group-active\:focus\:opacity-10:focus {
      opacity: 0.1;
    }
  }
}
@media (min-width: 768px) {
  .md\:container {
    width: 100%;
  }
  @media (min-width: 640px) {
    .md\:container {
      max-width: 640px;
    }
  }
  @media (min-width: 768px) {
    .md\:container {
      max-width: 768px;
    }
  }
  @media (min-width: 1024px) {
    .md\:container {
      max-width: 1024px;
    }
  }
  @media (min-width: 1280px) {
    .md\:container {
      max-width: 1280px;
    }
  }
  @media (min-width: 1536px) {
    .md\:container {
      max-width: 1536px;
    }
  }
  .md\:text-center {
    text-align: center;
  }
  .md\:opacity-50 {
    opacity: 0.5;
  }
  .md\:shadow-sm {
    --tw-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.05);
    --tw-shadow-colored: 0 1px 2px 0 var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000),
      var(--tw-shadow);
  }
  .md\:hover\:border-r-blue-500\/30:hover {
    border-right-color: rgb(59 130 246 / 0.3);
  }
  .md\:hover\:opacity-20:hover {
    opacity: 0.2;
  }
  @media (prefers-reduced-motion: no-preference) {
    .md\:motion-safe\:hover\:transition:hover {
      transition-property: background-color, border-color, color, fill, stroke, opacity, box-shadow,
        transform, filter, backdrop-filter;
      transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
      transition-duration: 150ms;
    }
  }
  @media (prefers-reduced-motion: no-preference) {
    .dark .md\:dark\:motion-safe\:foo\:active\:custom-util:active {
      background: #abcdef !important;
    }
  }
  @media (min-width: 640px) {
    .md\:sm\:text-center {
      text-align: center;
    }
  }
}
@media (min-width: 1280px) and (max-width: 1535px) {
  .range\:text-right {
    text-align: right;
  }
}
@media (min-width: 640px) and (max-width: 767px), (max-width: 868px) {
  .multi\:text-left {
    text-align: left;
  }
}
