*,
::before,
::after,
::backdrop {
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x: ;
  --tw-pan-y: ;
  --tw-pinch-zoom: ;
  --tw-scroll-snap-strictness: proximity;
  --tw-ordinal: ;
  --tw-slashed-zero: ;
  --tw-numeric-figure: ;
  --tw-numeric-spacing: ;
  --tw-numeric-fraction: ;
  --tw-ring-inset: ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur: ;
  --tw-brightness: ;
  --tw-contrast: ;
  --tw-grayscale: ;
  --tw-hue-rotate: ;
  --tw-invert: ;
  --tw-saturate: ;
  --tw-sepia: ;
  --tw-drop-shadow: ;
  --tw-backdrop-blur: ;
  --tw-backdrop-brightness: ;
  --tw-backdrop-contrast: ;
  --tw-backdrop-grayscale: ;
  --tw-backdrop-hue-rotate: ;
  --tw-backdrop-invert: ;
  --tw-backdrop-opacity: ;
  --tw-backdrop-saturate: ;
  --tw-backdrop-sepia: ;
}
.tw-container {
  width: 100%;
}
@media (min-width: 640px) {
  .tw-container {
    max-width: 640px;
  }
}
@media (min-width: 768px) {
  .tw-container {
    max-width: 768px;
  }
}
@media (min-width: 1024px) {
  .tw-container {
    max-width: 1024px;
  }
}
@media (min-width: 1280px) {
  .tw-container {
    max-width: 1280px;
  }
}
@media (min-width: 1536px) {
  .tw-container {
    max-width: 1536px;
  }
}
.tw-btn-prefix {
  button: yes;
}
.btn-no-prefix {
  button: yes;
}
.custom-component {
  font-weight: 700;
}
.tw-dark .tw-group:hover .custom-component {
  font-weight: 400;
}
.tw--ml-4 {
  margin-left: -1rem;
}
.tw-animate-ping {
  animation: ping 1s cubic-bezier(0, 0, 0.2, 1) infinite;
}
@keyframes tw-spin {
  to {
    transform: rotate(360deg);
  }
}
.tw-animate-spin {
  animation: tw-spin 1s linear infinite;
}
.tw-font-bold {
  font-weight: 700;
}
.tw-custom-util-prefix {
  button: no;
}
.custom-util-no-prefix {
  button: no;
}
.tw-group:hover .group-hover\:focus-within\:tw-text-left:focus-within {
  text-align: left;
}
[dir='rtl'] .rtl\:active\:tw-text-center:active {
  text-align: center;
}
@media (prefers-reduced-motion: no-preference) {
  .motion-safe\:hover\:tw-text-center:hover {
    text-align: center;
  }
}
.tw-dark .dark\:tw-bg-\[rgb\(255\2c 0\2c 0\)\] {
  --tw-bg-opacity: 1;
  background-color: rgb(255 0 0 / var(--tw-bg-opacity));
}
.tw-dark .dark\:focus\:tw-text-left:focus {
  text-align: left;
}
@media (min-width: 768px) {
  .md\:tw--ml-5 {
    margin-left: -1.25rem;
  }
  .md\:hover\:tw--ml-6:hover {
    margin-left: -1.5rem;
  }
  .md\:hover\:tw-text-right:hover {
    text-align: right;
  }
}
