*,
:before,
:after {
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x: ;
  --tw-pan-y: ;
  --tw-pinch-zoom: ;
  --tw-scroll-snap-strictness: proximity;
  --tw-gradient-from-position: ;
  --tw-gradient-via-position: ;
  --tw-gradient-to-position: ;
  --tw-ordinal: ;
  --tw-slashed-zero: ;
  --tw-numeric-figure: ;
  --tw-numeric-spacing: ;
  --tw-numeric-fraction: ;
  --tw-ring-inset: ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: #3b82f680;
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur: ;
  --tw-brightness: ;
  --tw-contrast: ;
  --tw-grayscale: ;
  --tw-hue-rotate: ;
  --tw-invert: ;
  --tw-saturate: ;
  --tw-sepia: ;
  --tw-drop-shadow: ;
  --tw-backdrop-blur: ;
  --tw-backdrop-brightness: ;
  --tw-backdrop-contrast: ;
  --tw-backdrop-grayscale: ;
  --tw-backdrop-hue-rotate: ;
  --tw-backdrop-invert: ;
  --tw-backdrop-opacity: ;
  --tw-backdrop-saturate: ;
  --tw-backdrop-sepia: ;
}
::backdrop {
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x: ;
  --tw-pan-y: ;
  --tw-pinch-zoom: ;
  --tw-scroll-snap-strictness: proximity;
  --tw-gradient-from-position: ;
  --tw-gradient-via-position: ;
  --tw-gradient-to-position: ;
  --tw-ordinal: ;
  --tw-slashed-zero: ;
  --tw-numeric-figure: ;
  --tw-numeric-spacing: ;
  --tw-numeric-fraction: ;
  --tw-ring-inset: ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: #3b82f680;
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur: ;
  --tw-brightness: ;
  --tw-contrast: ;
  --tw-grayscale: ;
  --tw-hue-rotate: ;
  --tw-invert: ;
  --tw-saturate: ;
  --tw-sepia: ;
  --tw-drop-shadow: ;
  --tw-backdrop-blur: ;
  --tw-backdrop-brightness: ;
  --tw-backdrop-contrast: ;
  --tw-backdrop-grayscale: ;
  --tw-backdrop-hue-rotate: ;
  --tw-backdrop-invert: ;
  --tw-backdrop-opacity: ;
  --tw-backdrop-saturate: ;
  --tw-backdrop-sepia: ;
}
.first-letter\:flex:first-letter,
.first-line\:flex:first-line,
.marker\:flex ::marker,
.marker\:flex::marker {
  display: flex;
}
.selection\:flex ::selection {
  display: flex;
}
.selection\:flex::selection {
  display: flex;
}
.file\:flex::-webkit-file-upload-button {
  display: flex;
}
.file\:flex::file-selector-button {
  display: flex;
}
.placeholder\:flex::placeholder {
  display: flex;
}
.backdrop\:flex::backdrop {
  display: flex;
}
.before\:flex:before,
.after\:flex:after {
  content: var(--tw-content);
  display: flex;
}
.first\:flex:first-child,
.last\:flex:last-child,
.only\:flex:only-child,
.odd\:flex:nth-child(odd),
.even\:flex:nth-child(2n),
.first-of-type\:flex:first-of-type,
.last-of-type\:flex:last-of-type,
.only-of-type\:flex:only-of-type,
.visited\:flex:visited,
.target\:flex:target,
.open\:flex[open],
.default\:flex:default,
.checked\:flex:checked,
.indeterminate\:flex:indeterminate,
.placeholder-shown\:flex:placeholder-shown {
  display: flex;
}
.autofill\:flex:-webkit-autofill {
  display: flex;
}
.autofill\:flex:autofill {
  display: flex;
}
.optional\:flex:optional,
.required\:flex:required,
.valid\:flex:valid,
.invalid\:flex:invalid,
.in-range\:flex:in-range,
.out-of-range\:flex:out-of-range,
.read-only\:flex:read-only,
.empty\:flex:empty,
.focus-within\:flex:focus-within,
.hover\:flex:hover {
  display: flex;
}
.file\:hover\:flex:hover::-webkit-file-upload-button {
  display: flex;
}
.file\:hover\:flex:hover::file-selector-button {
  display: flex;
}
.open\:hover\:flex:hover[open],
.focus\:flex:focus,
.focus\:hover\:flex:hover:focus {
  display: flex;
}
.focus-visible\:flex:focus-visible {
  display: flex;
}
.active\:flex:active,
.enabled\:flex:enabled,
.disabled\:flex:disabled,
.group:first-child .group-first\:flex,
.group:last-child .group-last\:flex,
.group:only-child .group-only\:flex,
.group:nth-child(odd) .group-odd\:flex,
.group:nth-child(2n) .group-even\:flex,
.group:first-of-type .group-first-of-type\:flex,
.group:last-of-type .group-last-of-type\:flex,
.group:only-of-type .group-only-of-type\:flex,
.group:visited .group-visited\:flex,
.group:target .group-target\:flex,
.group[open] .group-open\:flex,
.group:default .group-default\:flex,
.group:checked .group-checked\:flex,
.group:indeterminate .group-indeterminate\:flex,
.group:placeholder-shown .group-placeholder-shown\:flex {
  display: flex;
}
.group:-webkit-autofill .group-autofill\:flex {
  display: flex;
}
.group:autofill .group-autofill\:flex {
  display: flex;
}
.group:optional .group-optional\:flex,
.group:required .group-required\:flex,
.group:valid .group-valid\:flex,
.group:invalid .group-invalid\:flex,
.group:in-range .group-in-range\:flex,
.group:out-of-range .group-out-of-range\:flex,
.group:read-only .group-read-only\:flex,
.group:empty .group-empty\:flex,
.group:focus-within .group-focus-within\:flex,
.group:hover .group-hover\:flex,
.group[open]:hover .group-open\:group-hover\:flex,
.group:focus .group-focus\:flex,
.group[open]:focus .group-open\:group-focus\:flex,
.group:focus:hover .group-focus\:group-hover\:flex {
  display: flex;
}
.group:focus-visible .group-focus-visible\:flex {
  display: flex;
}
.group:active .group-active\:flex,
.group:enabled .group-enabled\:flex,
.group:disabled .group-disabled\:flex,
.group:disabled:focus:hover .group-disabled\:group-focus\:group-hover\:flex,
.group:disabled:focus:hover .group-disabled\:group-focus\:group-hover\:first\:flex:first-child,
.peer:first-child ~ .peer-first\:flex,
.peer:last-child ~ .peer-last\:flex,
.peer:only-child ~ .peer-only\:flex,
.peer:nth-child(odd) ~ .peer-odd\:flex,
.peer:nth-child(2n) ~ .peer-even\:flex,
.peer:first-of-type ~ .peer-first-of-type\:flex,
.peer:last-of-type ~ .peer-last-of-type\:flex,
.peer:only-of-type ~ .peer-only-of-type\:flex,
.peer:visited ~ .peer-visited\:flex,
.peer:target ~ .peer-target\:flex,
.peer[open] ~ .peer-open\:flex,
.peer:default ~ .peer-default\:flex,
.peer:checked ~ .peer-checked\:flex,
.peer:indeterminate ~ .peer-indeterminate\:flex,
.peer:placeholder-shown ~ .peer-placeholder-shown\:flex {
  display: flex;
}
.peer:-webkit-autofill ~ .peer-autofill\:flex {
  display: flex;
}
.peer:autofill ~ .peer-autofill\:flex {
  display: flex;
}
.peer:optional ~ .peer-optional\:flex,
.peer:required ~ .peer-required\:flex,
.peer:valid ~ .peer-valid\:flex,
.peer:invalid ~ .peer-invalid\:flex,
.peer:in-range ~ .peer-in-range\:flex,
.peer:out-of-range ~ .peer-out-of-range\:flex,
.peer:read-only ~ .peer-read-only\:flex,
.peer:empty ~ .peer-empty\:flex,
.peer:focus-within ~ .peer-focus-within\:flex,
.peer:hover ~ .peer-hover\:flex,
.peer:focus ~ .peer-focus\:flex,
.peer:focus:hover ~ .peer-focus\:peer-hover\:flex {
  display: flex;
}
.peer:focus-visible ~ .peer-focus-visible\:flex {
  display: flex;
}
.peer:active ~ .peer-active\:flex,
.peer:enabled ~ .peer-enabled\:flex,
.peer:disabled ~ .peer-disabled\:flex,
.peer:disabled:focus:hover ~ .peer-disabled\:peer-focus\:peer-hover\:flex,
.peer:disabled:focus:hover ~ .peer-disabled\:peer-focus\:peer-hover\:first\:flex:first-child {
  display: flex;
}
@media (prefers-reduced-motion: no-preference) {
  .motion-safe\:flex {
    display: flex;
  }
}
@media (prefers-reduced-motion: reduce) {
  .motion-reduce\:flex {
    display: flex;
  }
}
@media (prefers-contrast: more) {
  .contrast-more\:flex {
    display: flex;
  }
}
@media (prefers-contrast: less) {
  .contrast-less\:flex {
    display: flex;
  }
}
@media (min-width: 640px) {
  .sm\:flex,
  .sm\:active\:flex:active {
    display: flex;
  }
}
@media (min-width: 768px) {
  .md\:flex,
  .group:focus .md\:group-focus\:flex {
    display: flex;
  }
}
@media (min-width: 1024px) {
  .lg\:flex {
    display: flex;
  }
}
@media (min-width: 1280px) {
  .xl\:flex {
    display: flex;
  }
}
@media (min-width: 1536px) {
  .\32 xl\:flex {
    display: flex;
  }
}
@media (orientation: portrait) {
  .portrait\:flex {
    display: flex;
  }
}
@media (orientation: landscape) {
  .landscape\:flex {
    display: flex;
  }
}
.ltr\:flex:where([dir='ltr'], [dir='ltr'] *),
.rtl\:flex:where([dir='rtl'], [dir='rtl'] *),
.dark\:flex:where(.dark, .dark *),
.group:disabled:focus:hover
  .dark\:group-disabled\:group-focus\:group-hover\:flex:where(.dark, .dark *),
.peer:disabled:focus:hover
  ~ .dark\:peer-disabled\:peer-focus\:peer-hover\:flex:where(.dark, .dark *) {
  display: flex;
}
@media (min-width: 1024px) {
  .lg\:dark\:flex:where(.dark, .dark *) {
    display: flex;
  }
}
@media (min-width: 1280px) {
  .xl\:dark\:disabled\:flex:disabled:where(.dark, .dark *) {
    display: flex;
  }
}
@media (min-width: 1536px) {
  @media (prefers-reduced-motion: no-preference) {
    .\32 xl\:dark\:motion-safe\:focus-within\:flex:focus-within:where(.dark, .dark *) {
      display: flex;
    }
  }
}
@media (forced-colors: active) {
  .forced-colors\:flex {
    display: flex;
  }
}
@media print {
  .print\:flex {
    display: flex;
  }
}
