@constrain-xs: 20rem;
@constrain-sm: 30rem;
@constrain-md: 40rem;
@constrain-lg: 50rem;
@constrain-xl: 60rem;
@constrain-2xl: 70rem;
@constrain-3xl: 80rem;
@constrain-4xl: 90rem;
@constrain-5xl: 100rem;

.constrain-xs { max-width: @constrain-xs; flex-basis: @constrain-xs; }
.constrain-sm { max-width: @constrain-sm; flex-basis: @constrain-sm; }
.constrain-md { max-width: @constrain-md; flex-basis: @constrain-md; }
.constrain-lg { max-width: @constrain-lg; flex-basis: @constrain-lg; }
.constrain-xl { max-width: @constrain-xl; flex-basis: @constrain-xl; }
.constrain-2xl { max-width: @constrain-2xl; flex-basis: @constrain-2xl; }
.constrain-3xl { max-width: @constrain-3xl; flex-basis: @constrain-3xl; }
.constrain-4xl { max-width: @constrain-4xl; flex-basis: @constrain-4xl; }
.constrain-5xl { max-width: @constrain-5xl; flex-basis: @constrain-5xl; }

.responsive({
  &constrain-xs { .constrain-xs; }
  &constrain-sm { .constrain-sm; }
  &constrain-md { .constrain-md; }
  &constrain-lg { .constrain-lg; }
  &constrain-xl { .constrain-xl; }
  &constrain-2xl { .constrain-2xl; }
  &constrain-3xl { .constrain-3xl; }
  &constrain-4xl { .constrain-4xl; }
  &constrain-5xl { .constrain-5xl; }
});
