@screens:
  sm 576px,
  md 768px,
  lg 992px,
  xl 1200px;

@grid-column-count: 12;

.row {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.generate-grid-columns(@prefix; @i: 1) when (@i <= @grid-column-count) {
  .@{prefix}col-@{i} {
    flex-basis: 100% * (@i / @grid-column-count);
    max-width: 100% * (@i / @grid-column-count);
  }

  @offset-i: @i - 1;
  .@{prefix}offset-@{offset-i} {
    margin-left: 100% * (@offset-i / @grid-column-count);
  }

  .generate-grid-columns(@prefix; @i + 1);
}

.generate-responsive-grid(@screen, @min-width) {
  @prefix: ~"@{screen}\:";

  @media (min-width: @min-width) {
    .@{prefix}col {
      flex-grow: 1;
      flex-basis: 0;
      max-width: 100%;
      min-width: 0;
    }

    .@{prefix}col-first {
      order: -1;
    }

    .@{prefix}col-last {
      order: 1;
    }

    .generate-grid-columns(@prefix);
  }
}

.generate-responsive-grids(@i: 1) when (@i <= length(@screens)) {
  @screen: extract(@screens, @i);
  @name: extract(@screen, 1);
  @screen-width: extract(@screen, 2);

  .generate-responsive-grid(@name, @screen-width);
  .generate-responsive-grids(@i + 1);
}

.generate-all-grids() {
  .col-auto {
    flex-grow: 1;
    flex-basis: 0;
    max-width: 100%;
  }
  .col-first {
    order: -1;
  }
  .col-last {
    order: 1;
  }
  .generate-grid-columns(~"");
  .generate-responsive-grids();
}

.generate-all-grids();
