.overflow-auto { overflow: auto; }
.overflow-hidden { overflow: hidden; }
.overflow-visible { overflow: visible; }
.overflow-scroll { overflow: scroll; }
.overflow-scroll-x {
  overflow-x: auto;
  -ms-overflow-style: -ms-autohiding-scrollbar; // See https://github.com/twbs/bootstrap/pull/10057
}

.responsive({
  &overflow-auto { .overflow-auto; }
  &overflow-hidden { .overflow-hidden; }
  &overflow-visible { .overflow-visible; }
  &overflow-scroll { .overflow-scroll; }
  &overflow-scroll-x { .overflow-scroll-x; }
});
