.fixed { position: fixed; }
.absolute { position: absolute; }
.relative { position: relative; }

.pin-t { top: 0; }
.pin-r { right: 0; }
.pin-b { bottom: 0; }
.pin-l { left: 0; }
.pin-y { .pin-t; .pin-b; }
.pin-x { .pin-l; .pin-r; }
.pin { .pin-y; .pin-x; width: 100%; height: 100%; }
