@spacing-scale:
  'px' 1px,
  '0' 0,
  '1' 0.25rem,
  '2' 0.5rem,
  '3' 0.75rem,
  '4' 1rem,
  '6' 1.5rem,
  '8' 2rem,
  '12' 3rem,
  '16' 4rem,
  '20' 5rem,
  '24' 6rem,
  '32' 8rem,
  '40' 10rem,
  '60' 15rem,
  '80' 20rem,
  '120' 30rem,
;

@padding-scale: @spacing-scale;
@margin-scale: @spacing-scale;
@pull-scale: @spacing-scale;

.generate-padding-utilities(@padding-scale);
.generate-margin-utilities(@margin-scale);
.generate-pull-utilities(@pull-scale);
.mx-auto { margin-left: auto; margin-right: auto; }

.generate-responsive-padding-utilities(@padding-scale);
.generate-responsive-margin-utilities(@margin-scale);
.generate-responsive-pull-utilities(@pull-scale);
.responsive({
    &mx-auto { .mx-auto; }
});
