@spacing-scale:
  'px' 1px,
  '0' 0,
  '1' 0.25rem,
  '2' 0.5rem,
  '3' 0.75rem,
  '4' 1rem,
  '6' 1.5rem,
  '8' 2rem,
;

@padding-scale: @spacing-scale;
@margin-scale: @spacing-scale;
@pull-scale: @spacing-scale;

.define-padding-utilities(@padding-scale; @screens);
.define-margin-utilities(@margin-scale; @screens);
.define-pull-utilities(@pull-scale; @screens);

.mx-auto { margin-left: auto; margin-right: auto; }
.responsive({
    &mx-auto { .mx-auto; }
});
