* {
  --tw-shadow: 0 0 #0000;
  --tw-ring-inset: var(--tw-empty, /*!*/ /*!*/);
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgba(59, 130, 246, 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
}
@font-face {
  font-family: 'Poppins';
  src: url('/fonts/Poppins.woff2') format('woff2'), url('/fonts/Poppins.woff') format('woff');
}
@font-face {
  font-family: 'Proxima Nova';
  src: url('/fonts/ProximaNova.woff2') format('woff2'),
    url('/fonts/ProximaNova.woff') format('woff');
}
@font-face {
  font-family: 'Inter';
  src: url('/fonts/Inter.woff2') format('woff2'), url('/fonts/Inter.woff') format('woff');
}
@font-face {
  font-family: 'Gilroy';
  src: url('/fonts/Gilroy.woff2') format('woff2'), url('/fonts/Gilroy.woff') format('woff');
}
@page {
  margin: 1cm;
}
.font-bold {
  font-weight: 700;
}
@media (min-width: 640px) {
  .sm\:text-center {
    text-align: center;
  }
  .sm\:font-bold {
    font-weight: 700;
  }
}
@media (min-width: 768px) {
  .md\:text-center {
    text-align: center;
  }
  .md\:font-bold {
    font-weight: 700;
  }
}
@media (min-width: 1024px) {
  .lg\:text-center {
    text-align: center;
  }
  .lg\:font-bold {
    font-weight: 700;
  }
}
