* {
  --tw-shadow: 0 0 #0000;
  --tw-ring-inset: var(--tw-empty, /*!*/ /*!*/);
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgba(59, 130, 246, 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
}
.\!tw-container {
  width: 100% !important;
}
@media (min-width: 640px) {
  .\!tw-container {
    max-width: 640px !important;
  }
}
@media (min-width: 768px) {
  .\!tw-container {
    max-width: 768px !important;
  }
}
@media (min-width: 1024px) {
  .\!tw-container {
    max-width: 1024px !important;
  }
}
@media (min-width: 1280px) {
  .\!tw-container {
    max-width: 1280px !important;
  }
}
@media (min-width: 1536px) {
  .\!tw-container {
    max-width: 1536px !important;
  }
}
.\!tw-font-bold {
  font-weight: 700 !important;
}
.hover\:\!tw-text-center:hover {
  text-align: center !important;
}
@media (min-width: 1024px) {
  .lg\:\!tw-opacity-50 {
    opacity: 0.5 !important;
  }
}
@media (min-width: 1280px) {
  .xl\:focus\:disabled\:\!tw-float-right:focus:disabled {
    float: right !important;
  }
}
