.dropdown-menu {
    .absolute;
    .pin-r;
    .mt(px);
    .bg-light;
    .rounded;
    .z50;
    .mask;
    .box-shadow;

    left: auto;
}

.dropdown-item {
    .px(4);
    .py(2);
    .pull-t(px);
    .border;
    .border-dark;
    .no-select;
    &:first-child {
        margin-top: 0;
        .rounded-t;
    }
    &:last-child {
        .rounded-b;
    }
    &:not(.is-disabled):hover {
        .clickable;
        .relative;
        .bg-highlight;
        .border-invisible;
        * {
            .text-light;
        }
    }
    &.is-disabled {
        cursor: not-allowed;
    }
}
