html {
  .bg-brand-soft;
}

*,
*::before,
*::after {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: inherit;
  text-decoration: none;

  &:hover {
    .text-underline;
  }
}

svg {
  fill: currentColor;
}
