.markdown {
  @apply text-gray-700;
  @apply leading-relaxed;

  > *:first-child {
    @apply mt-0;
  }

  > * + * {
    @apply mt-6;
  }

  > ul > * + *,
  > ol > * + * {
    @apply mt-4;
  }

  .subnav, .subnav& {
    @apply flex;
    @apply mt-6;
    @apply mb-6;
    @apply pb-2;
    @apply border-b-2;
    @apply border-gray-300;

    .subnav-link, .subnav-link& {
      @apply mr-6;
      @apply leading-none;
      @apply text-gray-900;
      @apply text-sm;
    }
  }

  // Ridiculous scroll offset trash
  > h2::before, > h3::before {
    display: block;
    height: 6rem;
    margin-top: -6rem;
    visibility: hidden;
    content: "";
  }

  > hr {
    @apply border-t-0 border-r-0 border-l-0 border-b border-gray-300;
  }

  > a, > p a, > ul li a, a& {
    @apply text-blue-500;
    &:hover {
      @apply underline;
    }
  }

  > p strong, > ul strong {
    @apply font-semibold;
    @apply text-gray-800;
  }

  > p code, > ul li code, p& code& {
    @apply inline-block;
    @apply bg-gray-100;
    @apply rounded-sm;
    @apply text-sm;
    @apply px-1;
    @apply leading-none;
    @apply whitespace-no-wrap;
    @apply text-purple-600;
    @apply font-mono;
    @apply align-baseline;
    font-weight: 400;
  }

  > pre, pre& {
    @apply font-mono;
    @apply rounded-lg;
    font-weight: 400;
  }

  > blockquote, blockquote& {
    @apply italic;
    @apply text-gray-900;
    @apply text-sm;
  }

  > h1, h1& {
    @apply mb-1;
    @apply leading-none;
    @apply text-gray-900;
    @apply font-light;
    @apply text-3xl;
  }

  > h2, h2& {
    @apply mt-16;
    @apply mb-4;
    @apply text-gray-900;
    @apply leading-none;
    @apply font-normal;
    @apply text-xl;
  }

  > h2 + h3 {
    @apply mt-6;
  }

  > h3, h3& {
    @apply mt-12;
    @apply mb-4;
    @apply text-gray-900;
    @apply leading-none;
    @apply font-medium;
    @apply text-base;
  }

  > h4, h4& {
    @apply mt-8;
    @apply mb-0;
    @apply text-gray-900;
    @apply leading-none;
    @apply font-bold;
    @apply text-sm;
  }

  > h1 + p {
    @apply mt-8;
  }

  > h1 > code,
  > h2 > code,
  > h3 > code,
  > h4 > code {
    @apply font-mono;
  }

  > p, p&, > blockquote > p {
    @apply text-base;
    @apply mt-6;
  }

  > ul {
    @apply pl-4 list-disc list-inside;
  }

  > ol {
    @apply pl-4 list-decimal list-inside;
  }

  > :not(pre):not(h1):not(h2):not(h3):not(h4) > code {
    @apply bg-gray-100;
    @apply text-sm;
    @apply leading-normal;
  }

  > pre, pre& {
    @apply p-4;
    @apply bg-gray-800;
    @apply text-sm;
    @apply leading-normal;
  }
}
