@tailwind base;

:root {
  --color-code-green: #b5f4a5;
  --color-code-yellow: #ffe484;
  --color-code-purple: #d9a9ff;
  --color-code-red: #ff8383;
  --color-code-blue: #93ddfd;
  --color-code-white: #fff;
}

html {
  font-size: 14px;

  @media (min-width: 420px) {
    font-size: 16px;
  }
}

a {
  color: inherit;
  text-decoration: none;
}
