.DocSearch--active {
  overflow: hidden !important;
}

.DocSearch-Container {
  height: 100vh;
  left: 0;
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 200;
  display: flex;
  flex-direction: column;
  background: rgba(31, 41, 55, 0.1);
  padding: 2rem;
}

.DocSearch-LoadingIndicator svg {
  display: none;
}

.DocSearch-LoadingIndicator {
  display: none;
  width: 1.5rem;
  height: 1.5rem;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='none'%3E%3Ccircle cx='12' cy='12' r='9' stroke-width='2' stroke='%23cffafe' /%3E%3Cpath d='M3,12a9,9 0 1,0 18,0a9,9 0 1,0 -18,0' stroke-width='2' stroke='%2306b6d4' stroke-dasharray='56.5486677646' stroke-dashoffset='37.6991118431' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
  background-size: 100% 100%;
}

.DocSearch-Container--Stalled .DocSearch-LoadingIndicator {
  display: block;
}

.DocSearch-Modal {
  margin: auto;
  width: 100%;
  max-width: 758px;
  max-height: 652px;
  display: flex;
  flex-direction: column;
  min-height: 0;
  border-radius: 1rem;
  box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
}

.DocSearch-SearchBar {
  flex: none;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  background: white;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  position: relative;
  z-index: 1;
  display: flex;
  align-items: center;
  padding: 0 1.5rem;
}

.DocSearch-Form {
  flex: auto;
  display: flex;
  align-items: center;
}

.DocSearch-SearchBar::after {
  content: '';
  background-image: url("data:image/svg+xml,%3Csvg width='126' height='18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M59.244.704h12.445a2.226 2.226 0 012.225 2.224v12.447a2.225 2.225 0 01-2.225 2.223H59.244a2.225 2.225 0 01-2.224-2.223V2.923a2.22 2.22 0 012.224-2.22zm31.453 13.4c-3.29.014-3.29-2.656-3.29-3.08l-.005-10.002 2.006-.318v9.94c0 .242 0 1.769 1.289 1.773v1.686zm-8.135-1.636c.616 0 1.073-.035 1.392-.097v-2.039a4.748 4.748 0 00-1.181-.15c-.225 0-.45.018-.673.053a2.023 2.023 0 00-.61.18c-.18.087-.33.21-.437.368-.112.159-.164.251-.164.492 0 .47.164.743.462.922.298.18.704.272 1.211.272zm-.174-7.275c.662 0 1.221.082 1.673.246.451.164.816.394 1.083.686.272.297.456.692.57 1.113.118.42.174.88.174 1.387v5.156c-.465.092-.932.17-1.401.235-.626.092-1.33.139-2.11.139-.517 0-.995-.052-1.421-.149a3.002 3.002 0 01-1.103-.477 2.315 2.315 0 01-.714-.85c-.17-.349-.257-.84-.257-1.352 0-.492.097-.805.288-1.144a2.43 2.43 0 01.785-.83 3.378 3.378 0 011.15-.46 6.6 6.6 0 011.364-.14c.499.002.995.062 1.48.18v-.328c0-.23-.027-.45-.083-.656a1.41 1.41 0 00-.288-.547 1.338 1.338 0 00-.543-.37 2.373 2.373 0 00-.858-.154c-.462 0-.882.057-1.267.123a5.8 5.8 0 00-.945.23l-.24-1.643c.25-.088.625-.175 1.108-.262a8.233 8.233 0 011.555-.134v.001zm39.631 7.22c.617 0 1.073-.036 1.391-.098v-2.04a4.765 4.765 0 00-1.181-.15c-.22 0-.446.017-.672.053a2.015 2.015 0 00-.61.18c-.176.082-.327.209-.437.368-.112.159-.163.251-.163.492 0 .47.163.743.461.922.303.184.703.272 1.211.272zm-.169-7.27c.662 0 1.221.08 1.673.244.451.165.816.395 1.083.687.266.292.457.692.569 1.112.122.453.181.92.175 1.389v5.155a25.23 25.23 0 01-1.401.235c-.626.092-1.329.138-2.11.138-.517 0-.995-.05-1.421-.148a2.993 2.993 0 01-1.103-.477 2.308 2.308 0 01-.714-.85c-.169-.349-.257-.84-.257-1.353 0-.492.098-.805.288-1.143.195-.338.456-.615.785-.83a3.399 3.399 0 011.149-.46 6.607 6.607 0 012.064-.098c.246.025.503.072.78.138v-.327a2.505 2.505 0 00-.082-.657 1.412 1.412 0 00-.288-.548 1.34 1.34 0 00-.543-.369 2.376 2.376 0 00-.857-.154c-.462 0-.883.057-1.268.123-.321.05-.637.128-.945.23l-.241-1.644a8.007 8.007 0 011.109-.261 8.719 8.719 0 011.555-.133zm-6.026-.954a1.22 1.22 0 01-1.221-1.215c0-.671.544-1.215 1.221-1.215.678 0 1.223.544 1.223 1.215a1.22 1.22 0 01-1.223 1.215zm1.011 9.915h-2.017V5.453l2.018-.318v8.967l-.001.002zm-3.535 0c-3.29.015-3.29-2.655-3.29-3.08l-.006-10.002 2.007-.318v9.94c0 .242 0 1.769 1.289 1.773v1.686zm-6.524-4.427c0-.867-.19-1.59-.559-2.091-.37-.508-.888-.758-1.551-.758-.661 0-1.18.25-1.548.758-.37.507-.55 1.224-.55 2.09 0 .877.184 1.465.555 1.973.369.512.887.764 1.549.764.662 0 1.181-.257 1.551-.765.369-.512.553-1.095.553-1.972zm2.053-.006c0 .677-.098 1.188-.298 1.748a4.143 4.143 0 01-.846 1.43c-.367.396-.815.71-1.314.917-.514.214-1.304.337-1.699.337-.396-.004-1.18-.118-1.689-.337a3.835 3.835 0 01-1.308-.918 4.22 4.22 0 01-.852-1.43 4.741 4.741 0 01-.308-1.747c0-.676.092-1.327.298-1.88a4.156 4.156 0 01.862-1.42 3.848 3.848 0 011.313-.912 4.26 4.26 0 011.674-.317c.606 0 1.165.107 1.678.317.5.204.949.515 1.314.912.375.413.664.895.852 1.42.215.553.323 1.204.323 1.88zm-15.104 0c0 .84.185 1.773.554 2.162.37.39.847.585 1.432.585.318 0 .621-.047.903-.134.283-.087.508-.19.688-.312V6.998a7.856 7.856 0 00-1.325-.17 2.003 2.003 0 00-1.672.753c-.385.477-.58 1.313-.58 2.091zm5.579 3.956c0 1.368-.35 2.367-1.053 3.003-.702.634-1.776.952-3.222.952-.529 0-1.628-.102-2.505-.297l.323-1.588c.735.154 1.704.195 2.213.195.805 0 1.38-.164 1.724-.492.344-.328.513-.815.513-1.461v-.328a6.067 6.067 0 01-.785.298 3.88 3.88 0 01-1.12.148 4.192 4.192 0 01-1.513-.261 3.155 3.155 0 01-1.175-.77 3.498 3.498 0 01-.76-1.27c-.18-.507-.272-1.413-.272-2.08 0-.625.097-1.41.288-1.932.195-.522.472-.974.847-1.347.37-.374.82-.66 1.35-.872a4.954 4.954 0 011.82-.342c.653 0 1.253.081 1.838.18.585.096 1.083.198 1.489.31v7.955-.001z' fill='%235468FF'/%3E%3Cpath d='M5.23 5.008v1.22a3.354 3.354 0 00-1.818-.502c-.439 0-.784.097-1.035.293A.93.93 0 002 6.79c0 .319.123.574.37.765.248.192.627.4 1.138.623.335.144.596.267.784.371.187.104.402.249.646.437.243.187.422.41.539.67.115.259.172.556.172.891 0 .71-.25 1.268-.753 1.675-.502.407-1.153.611-1.95.611-.886 0-1.62-.172-2.203-.514v-1.281c.63.47 1.36.706 2.19.706.44 0 .786-.102 1.041-.305.255-.204.383-.485.383-.844a.899.899 0 00-.227-.592 1.636 1.636 0 00-.49-.407 16.881 16.881 0 00-.79-.377A10.258 10.258 0 012 8.802a3.207 3.207 0 01-.426-.264 5.193 5.193 0 01-.341-.3 1.302 1.302 0 01-.293-.382 3.32 3.32 0 01-.168-.449 1.915 1.915 0 01-.078-.556c0-.687.25-1.229.749-1.628.498-.399 1.142-.598 1.932-.598.726 0 1.345.127 1.855.382zm5.602 4.272v-.215c-.017-.456-.14-.816-.372-1.083-.231-.268-.562-.402-.993-.402-.399 0-.742.146-1.03.438-.286.29-.466.711-.537 1.262h2.932zm.753 2.094v1.053c-.447.255-1.037.382-1.771.382-.941 0-1.691-.282-2.25-.849-.558-.566-.837-1.308-.837-2.226 0-.972.255-1.737.766-2.291.51-.555 1.16-.832 1.95-.832.774 0 1.389.242 1.843.724.455.483.683 1.179.683 2.088 0 .248-.025.507-.072.778H7.91c.08.527.304.93.67 1.209.368.279.83.418 1.388.418.647 0 1.185-.151 1.616-.454zm4.954-1.328h-.909c-.447 0-.784.087-1.012.263a.812.812 0 00-.34.67c0 .28.088.498.262.658.177.16.432.24.767.24.382 0 .684-.107.903-.318.22-.21.33-.488.33-.831v-.682zm-3.05-1.915V6.994c.47-.271 1.092-.407 1.866-.407 1.587 0 2.381.77 2.381 2.31v3.853h-1.16v-.718c-.312.51-.858.765-1.64.765-.575 0-1.035-.165-1.383-.495-.346-.332-.52-.753-.52-1.263 0-.582.22-1.035.658-1.358.44-.323 1.053-.485 1.843-.485h1.005V8.85c0-.415-.1-.728-.3-.94-.199-.211-.53-.317-.992-.317a3.053 3.053 0 00-1.759.539V8.13zm6.999-1.448v1.065c.295-.75.826-1.125 1.592-1.125.111 0 .235.012.37.036v1.149a1.413 1.413 0 00-.562-.108c-.406 0-.742.18-1.005.539-.263.359-.395.786-.395 1.28v3.231h-1.172V6.683h1.172zm3.757 3.063c.017.615.204 1.12.563 1.514.36.395.862.593 1.507.593.48 0 .927-.132 1.341-.395v1.053c-.39.239-.89.359-1.496.359-.949 0-1.707-.3-2.273-.898-.566-.598-.85-1.344-.85-2.238 0-.87.285-1.613.855-2.231.57-.619 1.343-.928 2.316-.928.527 0 1.01.112 1.448.336v1.077a2.431 2.431 0 00-1.328-.372c-.63 0-1.135.2-1.514.599-.379.399-.569.91-.569 1.531zm5.937-5.456v3.434c.343-.75.97-1.125 1.878-1.125.59 0 1.065.184 1.425.55.359.368.538.878.538 1.532v4.069H32.85V8.92c0-.414-.105-.734-.316-.962-.212-.228-.49-.342-.833-.342-.398 0-.751.152-1.058.455-.308.304-.461.766-.461 1.388v3.291h-1.173V4.29h1.173zm11.224 7.515c.447 0 .822-.19 1.125-.569.303-.379.455-.867.455-1.466 0-.686-.152-1.215-.455-1.585a1.433 1.433 0 00-1.16-.557c-.416 0-.788.168-1.12.503-.33.335-.496.85-.496 1.543 0 .719.16 1.253.479 1.604.319.351.71.527 1.172.527zM39.755 4.29v3.315c.43-.67 1.04-1.006 1.83-1.006.766 0 1.392.288 1.88.862.486.575.729 1.336.729 2.285 0 .854-.232 1.582-.694 2.184-.463.603-1.097.904-1.903.904s-1.42-.335-1.842-1.005v.921H38.57V4.29h1.185zm7.43 8.328l-2.417-5.935h1.305l.753 1.974.945 2.562c.072-.24.36-1.094.863-2.562l.682-1.974h1.245l-2.19 5.9c-.583 1.555-1.473 2.332-2.67 2.332a2.189 2.189 0 01-.55-.059v-1.005c.127.031.263.048.407.048.774 0 1.316-.427 1.628-1.281z' fill='%235D6494'/%3E%3Cpath d='M67.227 4.475v-.579a.733.733 0 00-.733-.732h-1.71a.734.734 0 00-.734.732v.595c0 .066.062.113.129.098a5.425 5.425 0 012.926-.016.1.1 0 00.122-.098zm-4.686.758l-.292-.292a.732.732 0 00-1.037 0l-.348.349a.73.73 0 000 1.035l.287.287c.046.046.112.035.154-.01.17-.23.354-.451.56-.656.21-.21.425-.394.661-.563.051-.032.057-.103.015-.15zm3.12 1.84v2.505c0 .072.078.124.144.088l2.228-1.153c.05-.025.067-.087.041-.138a2.772 2.772 0 00-2.31-1.4c-.05 0-.102.041-.102.098zm.001 6.036a3.367 3.367 0 01-3.367-3.361A3.366 3.366 0 0168.04 7.37a3.366 3.366 0 01.731 3.665 3.363 3.363 0 01-3.11 2.074zm0-8.137a4.773 4.773 0 103.378 8.148 4.779 4.779 0 001.037-5.205 4.767 4.767 0 00-4.415-2.942' fill='%23fff'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-size: 7.875rem auto;
  background-position: right center;
  width: calc(7.875rem + 1.5rem);
  height: 2.5rem;
  margin-left: 1.5rem;
  border-left: 1px solid #e4e4e7;
}

.DocSearch-Dropdown {
  flex: auto;
  background: #fafafa;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
  padding: 0 1.5rem 1.5rem;
  overflow: auto;
}

.DocSearch-MagnifierLabel {
  flex: none;
  width: 1.5rem;
  height: 1.5rem;
  background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M21 21L15 15M17 10C17 13.866 13.866 17 10 17C6.13401 17 3 13.866 3 10C3 6.13401 6.13401 3 10 3C13.866 3 17 6.13401 17 10Z' stroke='%2306b6d4' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
}

.DocSearch-MagnifierLabel svg {
  display: none;
}

.DocSearch-Container--Stalled .DocSearch-MagnifierLabel {
  display: none;
}

.DocSearch-Input {
  appearance: none;
  background: transparent;
  height: 4.5rem;
  font-size: 1rem;
  font-weight: 500;
  color: black;
  margin-left: 1rem;
  margin-right: 1rem;
  flex: auto;
}

.DocSearch-Input::-webkit-search-cancel-button,
.DocSearch-Input::-webkit-search-decoration,
.DocSearch-Input::-webkit-search-results-button,
.DocSearch-Input::-webkit-search-results-decoration {
  display: none;
}

.DocSearch-Reset {
  display: none;
}

.DocSearch-Reset::before {
  content: 'esc';
}

.DocSearch-Cancel {
  font-size: 0;
  border-radius: 0.375rem;
  border: 1px solid #d4d4d8;
  padding: 0.125rem 0.375rem;
}

.DocSearch-Cancel::before {
  content: 'esc';
  color: #a1a1aa;
  font-size: 0.875rem;
  line-height: 1.25rem;
}

.DocSearch-Reset svg {
  display: none;
}

.DocSearch-Hit-source {
  line-height: 1.5rem;
  font-weight: bold;
  color: #52525b;
  margin-top: 1.5rem;
  margin-bottom: 1rem;
}

.DocSearch-Hit-Container {
  display: flex;
  align-items: center;
  height: 4rem;
}

.DocSearch-Hit-icon {
  flex: none;
  margin-right: 0.75rem;
}

.DocSearch-Hit-icon path {
  stroke-width: 2px;
  stroke: #71717a;
}

.DocSearch-Hit[aria-selected='true'] .DocSearch-Hit-icon path {
  stroke: white;
}

.DocSearch-Hit-content-wrapper {
  flex: auto;
  display: flex;
  flex-direction: column-reverse;
}

.DocSearch-Hit-path {
  font-size: 0.75rem;
  line-height: 1rem;
  font-weight: 500;
  color: #a1a1aa;
}

.DocSearch-Hit[aria-selected='true'] .DocSearch-Hit-path {
  color: #aaf0f4;
}

.DocSearch-Hit-title {
  color: black;
  line-height: 1.5rem;
  font-weight: 600;
}

.DocSearch-Hit[aria-selected='true'] .DocSearch-Hit-title {
  color: white;
}

.DocSearch-Hit-title + .DocSearch-Hit-path {
  margin-bottom: 0.125rem;
}

.DocSearch-Hit-action {
  flex: none;
}

.DocSearch-Hit-action path {
  stroke-width: 2px;
  stroke: #71717a;
}

.DocSearch-Hit[aria-selected='true'] .DocSearch-Hit-action path {
  stroke: white;
}

.DocSearch-Hit > a {
  display: block;
  background: white;
  border-radius: 0.5rem;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  padding: 0 1.25rem;
}

.DocSearch-Hit[aria-selected='true'] > a {
  background: #13b5c8;
}

.DocSearch-Hit + .DocSearch-Hit {
  margin-top: 0.5rem;
}

.DocSearch-Hit {
  position: relative;
}

.DocSearch-Hit--Child {
  padding-left: 1.75rem;
}

.DocSearch-Hit--Child::before,
.DocSearch-Hit--Child + .DocSearch-Hit:not(.DocSearch-Hit--Child)::before {
  content: '';
  position: absolute;
  top: -0.25rem;
  bottom: -0.25rem;
  left: 0.5rem;
  width: 1.25rem;
  background-image: url("data:image/svg+xml,%3Csvg width='12' height='200' viewBox='0 0 12 200' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M 1 0 V 200 M 1 100 H 12' stroke='%23a1a1aa' stroke-width='2'/%3E%3C/svg%3E%0A");
  background-repeat: no-repeat;
  background-position: center left;
}

.DocSearch-Hit--Child:last-child::before,
.DocSearch-Hit--Child + .DocSearch-Hit:not(.DocSearch-Hit--Child)::before {
  background-image: url("data:image/svg+xml,%3Csvg width='12' height='200' viewBox='0 0 12 200' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M 1 0 V 89 Q 1 100 12 100' stroke='%23a1a1aa' stroke-width='2'/%3E%3C/svg%3E%0A");
}

.DocSearch-Hit:not(.DocSearch-Hit--Child) + .DocSearch-Hit--Child::after {
  content: '';
  position: absolute;
  top: -0.25rem;
  left: 0;
  width: 1.25rem;
  height: 0.25rem;
  background: #fafafa;
}

.DocSearch-Hit--Child + .DocSearch-Hit:not(.DocSearch-Hit--Child)::before {
  top: auto;
  bottom: calc(100% + 0.25rem);
  height: calc(100% + 0.25rem);
  background-color: #fafafa;
}

.DocSearch-Hits mark {
  background: none;
  color: #13b5c8;
}

.DocSearch-Hit[aria-selected='true'] mark {
  color: inherit;
  text-decoration: underline;
}

.DocSearch-Footer {
  display: none;
}

.DocSearch-Hit--deleting,
.DocSearch-Hit--favoriting {
  opacity: 0;
  transition: all 250ms linear;
}
