.markdown {
  @apply text-gray-700;
  @apply leading-relaxed;

  > *:first-child {
    @apply mt-0;
  }

  > * + * {
    @apply mt-6;
  }

  > ul > * + *,
  > ol > * + * {
    @apply mt-4;
  }

  .subnav,
  .subnav& {
    @apply flex;
    @apply mt-6;
    @apply mb-6;
    @apply pb-2;
    @apply border-b-2;
    @apply border-gray-300;

    .subnav-link,
    .subnav-link& {
      @apply mr-6;
      @apply leading-none;
      @apply text-gray-900;
      @apply text-sm;
    }
  }

  > h2,
  > h3,
  > .heading {
    scroll-margin-block: 6rem;
  }

  > hr {
    @apply border-t-0 border-r-0 border-l-0 border-b-2 border-gray-200 my-16;
  }

  > a,
  > p a,
  > ul li a,
  > ol li a,
  a& {
    @apply text-blue-500 underline font-medium;
    &:hover {
      @apply text-blue-700;
    }
    strong {
      @apply text-blue-500;
    }
    code {
      @apply underline text-blue-500;
    }
  }

  > p strong,
  > ul strong {
    @apply font-semibold;
    @apply text-gray-800;
  }

  > p code,
  > ul li *:not(pre) code,
  > ul li > code,
  > ol li *:not(pre) code,
  > ol li > code,
  p& code& {
    @apply inline-block;
    @apply bg-gray-100;
    @apply rounded-sm;
    @apply text-sm;
    @apply px-1;
    @apply leading-none;
    @apply whitespace-no-wrap;
    @apply text-purple-600;
    @apply font-mono;
    @apply align-baseline;
    font-weight: 400;
  }

  > p strong code,
  > ul li strong code,
  > ol li strong code {
    font-weight: 600;
  }

  > pre,
  pre& {
    @apply font-mono;
    @apply rounded-lg;
    font-weight: 400;
    scrollbar-width: none;
    &::-webkit-scrollbar {
      display: none;
    }
  }

  > blockquote,
  blockquote& {
    @apply italic;
    @apply text-gray-900;
    @apply text-sm;
  }

  > h1,
  h1& {
    @apply mb-1;
    @apply leading-none;
    @apply text-gray-900;
    @apply font-medium;
    @apply text-3xl;
    @apply tracking-tight;
  }

  > h2,
  h2& {
    @apply mt-16;
    @apply mb-4;
    @apply text-gray-900;
    @apply leading-none;
    @apply font-normal;
    @apply text-2xl;
    @apply tracking-tight;
  }

  > h2 + h3 {
    @apply mt-6;
  }

  > h3,
  h3& {
    @apply mt-12 -mb-3;
    @apply text-gray-900;
    @apply leading-tight;
    @apply font-medium;
    @apply text-xl;
    @apply tracking-tight;
  }

  > h4,
  h4& {
    @apply mt-12;
    @apply mb-0;
    @apply text-gray-900;
    @apply leading-snug;
    @apply font-medium;
    @apply text-lg;
  }

  > h1 + p {
    @apply mt-8;
  }

  > h1 code,
  > h2 code,
  > h3 code,
  > h4 code {
    @apply text-purple-600;
    @apply font-mono;
  }

  > h3 code {
    @apply text-lg px-1 bg-gray-100;
  }

  > h4 code {
    @apply text-base px-1 bg-gray-100;
  }

  > p,
  p&,
  > blockquote > p {
    @apply text-base;
    @apply mt-6;
  }

  > ul:not(.list-none) {
    @apply pl-0 list-none;
    li {
      @apply relative pl-5;
      &::before {
        @apply absolute left-0 text-gray-400 inline-block mr-3;
        content: '\2022';
      }
    }
  }

  > ol {
    @apply list-none;
    counter-reset: item;
    > li {
      @apply relative pl-10;
    }
    > li::before {
      @apply absolute top-0 left-0 mt-px;
      @apply flex items-center justify-center;
      @apply h-6 w-6 bg-gray-300 rounded-full;
      @apply text-gray-700 text-xs font-bold;
      content: counter(item);
      counter-increment: item;
    }
  }

  > :not(pre):not(h1):not(h2):not(h3):not(h4) > code,
  > ul code,
  > ol code {
    @apply bg-gray-100;
    @apply text-sm;
    @apply leading-normal;
  }

  > pre,
  pre&,
  > ul li pre,
  > ol li pre {
    @apply flex p-0 bg-gray-800;
    @apply text-sm leading-normal;
  }

  > pre code,
  pre code&,
  > ul li pre code,
  > ol li pre code {
    @apply p-4;
  }

  > table {
    @apply w-full text-left;
    border-collapse: collapse !important;
    th {
      @apply text-sm font-semibold text-gray-700 p-2 bg-gray-100;
    }
    td {
      @apply p-2 border-t border-gray-200 text-sm;
      code {
        @apply bg-gray-100 px-1 font-mono text-xs text-purple-700 align-baseline;
      }
      &:first-child {
        @apply border-gray-300;
      }
    }
  }
}
