.example {
  color: red;
}

@media (min-width: 576px) {
  .sm\:example {
    color: red;
  }
}

@media (min-width: 768px) {
  .md\:example {
    color: red;
  }
}

@media (min-width: 992px) {
  .lg\:example {
    color: red;
  }
}

@media (min-width: 1200px) {
  .xl\:example {
    color: red;
  }
}

.john {
  content: "wick";
}
