.example {
  color: red;
}

@media (min-width: 640px) {
  .sm\:example {
    color: red;
  }
}

@media (min-width: 768px) {
  .md\:example {
    color: red;
  }
}

@media (min-width: 1024px) {
  .lg\:example {
    color: red;
  }
}

@media (min-width: 1280px) {
  .xl\:example {
    color: red;
  }
}

.john {
  content: "wick";
}
