@media (min-width: 768px) {
    .example {
        color: red;
    }
}

@media (min-width: 992px) {
    .example {
        color: red;
    }
}

@media (min-width: 1200px) {
    .example {
        color: red;
    }
}

.john {
    content: "wick";
}