@hue-gray: 208;

@color-gray-10: hsl(@hue-gray, 20%, 100%);
@color-gray-9: hsl(@hue-gray, 20%, 98%);
@color-gray-8: hsl(@hue-gray, 25%, 96%);
@color-gray-7: hsl(@hue-gray, 25%, 90%);
@color-gray-6: hsl(@hue-gray, 25%, 82%);
@color-gray-5: hsl(@hue-gray, 25%, 62%);
@color-gray-4: hsl(@hue-gray, 25%, 52%);
@color-gray-3: hsl(@hue-gray, 25%, 35%);
@color-gray-2: hsl(@hue-gray, 25%, 25%);
@color-gray-1: hsl(@hue-gray, 25%, 16%);

@color-white: @color-gray-10;
@color-black: @color-gray-1;
