@hue-slate: 208;
@hue-cream: 50;

@hue-brand-primary: 171;
@color-brand-primary: #00ceae;

@color-brand-gradient-start: #00b8c6;
@color-brand-gradient-stop: #00c6a2;

@hue-blue: 193;
@color-blue: hsl(@hue-blue, 77%, 58%);

@hue-green: 167;
@color-green: hsl(@hue-green, 53%, 55%);

@hue-red: 2;
@color-danger: hsl(@hue-red, 75%, 55%);

@hue-gray: 208;
// @hue-gray: 50;
@color-gray-10: #fff;
@color-gray-9: hsl(@hue-gray, 20%, 98%);
@color-gray-8: hsl(@hue-gray, 25%, 96%);
@color-gray-7: hsl(@hue-gray, 25%, 90%);
@color-gray-6: hsl(@hue-gray, 25%, 82%);
@color-gray-5: hsl(@hue-gray, 25%, 62%);
@color-gray-4: hsl(@hue-gray, 25%, 52%);
@color-gray-3: hsl(@hue-gray, 25%, 35%);
@color-gray-2: hsl(@hue-gray, 25%, 25%);
@color-gray-1: hsl(@hue-gray, 25%, 16%);

@color-white: @color-gray-10;
@color-black: @color-gray-1;

@color-blue-highlight: hsl(215, 99%, 63%);
